version: "3"
services:
#  postgres_skeleton-dev:
#    image: postgres:13
#    container_name: psql.skeleton-dev
#    ports:
#      - 5434:5432
#    environment:
#      POSTGRES_USER: skeleton-dev
#      POSTGRES_PASSWORD: skeleton-dev
#      POSTGRES_DB: skeleton-dev

  fpm_skeleton-dev:
    container_name: fpm.skeleton-dev
    image: ewwgenn/storytale:fpm7.4_LOCAL
    env_file: ./../../config/.env
    restart: always
    cap_add:
      - ALL
    volumes:
      - "./../../:/www/"

  nginx_skeleton-dev:
    container_name: nginx.skeleton-dev
    image: nginx:alpine
    restart: always
    depends_on:
      - fpm_skeleton-dev
    links:
      - fpm_skeleton-dev:fpm_skeleton-dev.local
    ports:
      - "7006:80"
    volumes:
      - "./nginx:/etc/nginx/conf.d"